<form class="form-group" name="attributespecificationEditorForm">
    <label for="uri" translate>admin.attributespecifications.lbl.attributeSpecificationUri</label>
    <input type="text" class="form-control" ng-model="attributeSpecification.uri" id="uri" placeholder="Uri of the attribute" required notifyuierror/>
    <label for="name" translate>admin.attributespecifications.lbl.attributeSpecificationName</label>
    <input type="text" class="form-control" ng-model="attributeSpecification.name" id="name" placeholder="Name of the attribute" required notifyuierror/>
    <label for="description" translate>admin.attributespecifications.lbl.attributeSpecificationDescription</label>
    <input type="text" class="form-control" ng-model="attributeSpecification.description" id="description" placeholder="Description of the attribute" notifyuierror/>
    <label for="syntax" translate>admin.attributespecifications.lbl.attributeSpecificationSyntax</label>
    <select class="form-control" ng-model="attributeSpecification.syntax" id="syntax" required notifyuierror>
        <option>string</option>
        <option>base64</option>
    </select>
    <label for="maintainer" translate>admin.attributespecifications.lbl.attributeSpecificationMaintainer</label>
    <select class="form-control" ng-model="attributeSpecification.maintainer" id="maintainer" required notifyuierror>
        <option value="user" translate>admin.attributespecifications.lbl.attributeSpecificationMaintainerUser</option>
        <option value="manager" translate>admin.attributespecifications.lbl.attributeSpecificationMaintainerOrganization</option>
    </select>
    <label for="is_multivalue" translate>admin.attributespecifications.lbl.attributeSpecificationIsMultiValue</label>
    <input type="checkbox" class="form-control" ng-model="attributeSpecification.is_multivalue" id="is_multivalue" notifyuierror/>

    <button type="button" ng-disabled="attributespecificationEditorForm.$invalid" ng-click="save()"
            class="btn btn-primary pull-right" translate>admin.attributespecifications.btn.attributeSpecificationSave</button>
</form>
