<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button class="btn pull-right" ng-click="vm.close()"
            title="{{'services.modals.newHookDialog.btn.dialogClose' | translate}}">
        <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title" ng-if="!vm.isEditing" translate>shared.modals.hookEditor.lbl.titleNewHook</h3>
    <h3 class="modal-title"  ng-if="vm.isEditing"  translate>shared.modals.hookEditor.lbl.titleHookEdit</h3>
</div>
<div class="modal-body">
    <div class="form form-vertical">

        <label for="hookName">{{"shared.modals.hookEditor.lbl.hookName" | translate}}</label>
        <input type="text" class="form-control" id="hookName" ng-model="vm.hook.name"/>

        <label for="hookDescription">{{"shared.modals.hookEditor.lbl.hookDescription" | translate}}</label>
        <textarea class="form-control" id="hookDescription" ng-model="vm.hook.description"></textarea>

        <label for="hookUrl">{{"shared.modals.hookEditor.lbl.hookUrl" | translate}}</label>
        <input type="text" class="form-control" id="hookUrl" ng-model="vm.hook.url"/>
        <div ng-if="!vm.isHookUrlHttps()" class="alert alert-warning">
            {{"shared.modals.hookEditor.msg.hookUrlIsNotHttps" | translate}}
        </div>

        <label>{{"shared.modals.hookEditor.lbl.hookType" | translate}}</label>
        <select class="form-control" ng-model="vm.hook.type">
            <option value="user_added" ng-selected="vm.hook.type == 'user_added'">{{"shared.modals.hookEditor.types.user_added" | translate}}</option>
            <option value="user_removed" ng-selected="vm.hook.type == 'user_removed'">{{"shared.modals.hookEditor.types.user_removed" | translate}}</option>
            <option value="attribute_change" ng-selected="vm.hook.type == 'attribute_change'">{{"shared.modals.hookEditor.types.attribute_change" | translate}}</option>
        </select>

    </div>
    <div class="clearfix">
        <Button class="btn btn-primary pull-right" ng-click="vm.saveHook()">{{"shared.modals.hookEditor.btn.save" | translate}}</Button>
    </div>
</div>

