<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="hexaaApp"  ng-controller="IndexCtrl as IndexVm" > <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="hexaaApp"  ng-controller="IndexCtrl as IndexVm" > <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="hexaaApp"  ng-controller="IndexCtrl as IndexVm"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="hexaaApp"  ng-controller="IndexCtrl as IndexVm"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title ng-bind="Page.getTitle()"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap-duallistbox/src/bootstrap-duallistbox.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="../bower_components/jquery-ui/themes/black-tie/jquery-ui.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="styles/angular-multi-select.css">
    <link rel="stylesheet" href="../bower_components/angular-toastr/dist/angular-toastr.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-duallistbox/dist/bootstrap-duallistbox.css">
    <link rel="stylesheet" href="../bower_components/angular-ui-switch/angular-ui-switch.css">
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <!--<link rel="stylesheet" href="styles/main.css"> -->
    <link rel="stylesheet" href="styles/animations.css">
    <!-- endbuild -->

    <script src="connect.php"></script>
</head>
<body ng-cloak class="ng-cloak" >
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<div class="container">
    <div class="col-xs-12 col-md-12">

        <nav id="nav" class="navbar navbar-default" role="navigation" style="margin-bottom: 0">
            <div id="navContainer" class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle navbar-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand navbar-left" href="#/profile/dashboard"><img src="images/hexaa.png"></a>
                </div>
                <div class="pull-right" loading-widget>
                    <img id="loadingIcon" src="images/loading.gif"   />
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: (isActiveTab('/organizations') == true) }" ><a href="#/organizations/" translate="index.menuBar.organizations"></a></li>
                        <li ng-class="{active: (isActiveTab('/services') == true) }" ><a href="#/services/" translate="index.menuBar.services"></a></li>
                        <li ng-class="{active: (isActiveTab('/admin') == true) }" ng-show="profile.isAdmin" ><a href="#/admin/" translate="index.menuBar.admin"></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> {{profile.fedid}}<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-class="{active: (isActiveTab('/profile') == true) }"  >
                                    <a href="#/profile/">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                        <span translate="index.menuBar.profile"></span>
                                    </a>
                                </li>
                                <li ng-if="profile.administrator" >
                                    <a ng-click="profile.setIsAdmin(false)" ng-if="profile.isAdmin">
                                        <i class="glyphicon glyphicon-eye-close link"></i>
                                        <span translate="index.menuBar.viewAsUser"></span>
                                    </a>
                                    <a ng-click="profile.setIsAdmin(true)" ng-if="!profile.isAdmin">
                                        <i class="glyphicon glyphicon-eye-open link"></i>
                                        <span translate="index.menuBar.viewAsAdmin"></span>
                                    </a>
                                </li>
                                <li ng-class="{active: (isActiveTab('/logout') == true) }"  >
                                    <a href="#/profile/logout">
                                        <i class="glyphicon glyphicon-log-out"></i>
                                        <span translate="index.menuBar.logOut"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->

            </div><!-- /.container-fluid -->
        </nav>
        <div ng-view class="content">

        </div>
        <p>
        <div class="panel-footer row footer">
            <div class="col-md-4">
                Backend-Version: {{hexaa_properties.backend_version}}
            </div>
            <div class="col-md-4">
                <b translate>index.lbl.copyright</b>
            </div>
            <div class="col-md-4">
                Frontend-Version: FRONTEND_VERSION_PLACEHOLDER
            </div>
        </div>
    </div>
</div>


<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="../bower_components/es5-shim/es5-shim.js"></script>
<script src="../bower_components/jquery/jquery.js"></script>
<script src="../bower_components/jquery-ui/jquery-ui.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/json3/lib/json3.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../bower_components/angular-css-injector/angular-css-injector.js"></script>
<script src="../bower_components/angular-translate/angular-translate.js"></script>
<script src="../bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
<script src="../bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/ng-file-upload/angular-file-upload.js"></script>
<script src="../bower_components/angular-toastr/dist/angular-toastr.js"></script>
<script src="../bower_components/bootstrap-duallistbox/src/jquery.bootstrap-duallistbox.js"></script>
<script src="../bower_components/angular-ui-switch/angular-ui-switch.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/utils/angular-multi-select.js"></script> <!-- Modded vendor script -->
<script src="scripts/config/app.config.js"></script>
<script src="scripts/config/module.js"></script>
<script src="scripts/shared/module.js"></script>
<script src="scripts/shared/controllers/module.js"></script>
<script src="scripts/shared/controllers/pages/module.js"></script>
<script src="scripts/shared/controllers/modals/module.js"></script>
<script src="scripts/shared/directives/module.js"></script>
<script src="scripts/components/module.js"></script>
<script src="scripts/components/admin/module.js"></script>
<script src="scripts/components/admin/controllers/module.js"></script>
<script src="scripts/components/admin/controllers/modals/module.js"></script>
<script src="scripts/components/admin/controllers/pages/module.js"></script>
<script src="scripts/components/admin/directives/module.js"></script>
<script src="scripts/components/organizations/module.js"></script>
<script src="scripts/components/organizations/controllers/module.js"></script>
<script src="scripts/components/organizations/controllers/pages/module.js"></script>
<script src="scripts/components/organizations/controllers/modals/module.js"></script>
<script src="scripts/components/organizations/directives/module.js"></script>
<script src="scripts/components/profile/module.js"></script>
<script src="scripts/components/profile/controllers/module.js"></script>
<script src="scripts/components/profile/controllers/pages/module.js"></script>
<script src="scripts/components/profile/controllers/modals/module.js"></script>
<script src="scripts/components/profile/directives/module.js"></script>
<script src="scripts/components/services/module.js"></script>
<script src="scripts/components/services/controllers/module.js"></script>
<script src="scripts/components/services/controllers/pages/module.js"></script>
<script src="scripts/components/services/controllers/modals/module.js"></script>
<script src="scripts/components/services/controllers/modals/entity-id-contact-dialog.controller.js"></script>
<script src="scripts/components/services/directives/module.js"></script>
<script src="scripts/services/module.js"></script>
<script src="scripts/services/facades/module.js"></script>
<script src="scripts/models/module.js"></script>
<script src="scripts/filters/module.js"></script>


<script src="scripts/config/http.config.js"></script>
<script src="scripts/config/routes.config.js"></script>
<script src="scripts/config/translate.js"></script>
<script src="scripts/config/exception.config.js"></script>
<script src="scripts/config/toastr.config.js"></script>
<script src="scripts/components/services/directives/hexaa-services-entitlementpack-editor.directive.js"></script>
<script src="scripts/shared/controllers/pages/index.controller.js"></script>
<script src="scripts/components/organizations/controllers/pages/index.controller.js"></script>
<script src="scripts/components/organizations/controllers/modals/new-organization-dialog.controller.js"></script>
<script src="scripts/components/organizations/controllers/pages/principalmanagement.controller.js"></script>
<script src="scripts/components/organizations/controllers/pages/properties.controller.js"></script>
<script src="scripts/components/organizations/controllers/pages/managers.controller.js"></script>
<script src="scripts/components/organizations/controllers/pages/members.controller.js"></script>
<script src="scripts/components/organizations/controllers/pages/news.controller.js"></script>
<script src="scripts/components/organizations/controllers/pages/roles.controller.js"></script>
<script src="scripts/components/organizations/controllers/pages/new-role.controller.js"></script>
<script src="scripts/components/organizations/controllers/pages/invite-organization-managers.js"></script>
<script src="scripts/components/organizations/controllers/pages/invite-organization-members.js"></script>
<script src="scripts/components/organizations/controllers/pages/entitlementpacks.controller.js"></script>
<script src="scripts/components/organizations/controllers/pages/attributes.controller.js"></script>
<script src="scripts/components/organizations/controllers/pages/invitations.controller.js"></script>
<script src="scripts/components/organizations/controllers/pages/public-catalog.controller.js"></script>
<script src="scripts/components/organizations/directives/hexaa-organizations-properties.directive.js"></script>
<script src="scripts/components/organizations/directives/hexaa-organizations-role-editor.directive.js"></script>
<script src="scripts/components/organizations/directives/hexaa-organizations-role.directive.js"></script>
<script src="scripts/components/organizations/directives/hexaa-organizations-roles.directive.js"></script>
<script src="scripts/components/organizations/directives/hexaa-organizations-users.directive.js"></script>
<script src="scripts/components/organizations/directives/hexaa-organizations-invitations.directive.js"></script>
<script src="scripts/components/organizations/directives/hexaa-organizations-invitationbar.directive.js"></script>
<script src="scripts/components/organizations/directives/hexaa-organizations-entitlementcatalog.directive.js"></script>
<script src="scripts/components/organizations/directives/hexaa-organizations-attribute-editor.directive.js"></script>
<script src="scripts/components/profile/controllers/pages/my-organizations.controller.js"></script>
<script src="scripts/components/profile/controllers/pages/my-services.controller.js"></script>
<script src="scripts/shared/controllers/modals/invitation-dialog.controller.js"></script>
<script src="scripts/shared/controllers/modals/message-dialog.controller.js"></script>
<script src="scripts/shared/controllers/modals/confirmation-dialog.controller.js"></script>
<script src="scripts/shared/controllers/modals/mail-dialog.controller.js"></script>
<script src="scripts/components/organizations/controllers/modals/organization-details-dialog.controller.js"></script>
<script src="scripts/shared/controllers/modals/service-details-dialog.controller.js"></script>
<script src="scripts/components/organizations/controllers/modals/organization-changer-dialog.controller.js"></script>
<script src="scripts/components/organizations/controllers/modals/attribute-editor-dialog.controller.js"></script>
<script src="scripts/components/services/controllers/modals/service-changer-dialog.controller.js"></script>
<script src="scripts/components/services/controllers/modals/new-entitlement-dialog.controller.js"></script>
<script src="scripts/components/services/controllers/pages/index.controller.js"></script>
<script src="scripts/components/services/controllers/pages/news.controller.js"></script>
<script src="scripts/components/services/controllers/pages/properties.controller.js"></script>
<script src="scripts/components/services/controllers/pages/managers.controller.js"></script>
<script src="scripts/components/services/controllers/pages/attributespecifications.controller.js"></script>
<script src="scripts/components/services/controllers/pages/new.controller.js"></script>
<script src="scripts/components/services/controllers/pages/owner.controller.js"></script>
<script src="scripts/components/services/controllers/pages/entitlements.controller.js"></script>
<script src="scripts/components/services/controllers/pages/entitlementpacks.controller.js"></script>
<script src="scripts/components/services/controllers/pages/ivnite-servicemanagers.js"></script>
<script src="scripts/components/services/controllers/pages/connected-entitlementpacks.controller.js"></script>
<script src="scripts/components/services/controllers/pages/invitations.controller.js"></script>
<script src="scripts/components/services/controllers/pages/hooks.controller.js"></script>
<script src="scripts/components/services/controllers/modals/new-entitlementpack-dialog.controller.js"></script>
<script src="scripts/components/profile/controllers/pages/index.controller.js"></script>
<script src="scripts/components/profile/controllers/pages/attributes.controller.js"></script>
<script src="scripts/components/profile/controllers/pages/consents.controller.js"></script>
<script src="scripts/components/profile/controllers/pages/me.controller.js"></script>
<script src="scripts/components/profile/controllers/pages/logout.controller.js"></script>
<script src="scripts/components/profile/controllers/pages/news.controller.js"></script>
<script src="scripts/components/profile/controllers/pages/dashboard.controller.js"></script>
<script src="scripts/components/profile/controllers/pages/vowizard.controller.js"></script>
<script src="scripts/components/profile/controllers/modals/module.js"></script>
<script src="scripts/components/profile/controllers/modals/attribute-editor-dialog.controller.js"></script>
<script src="scripts/components/profile/directives/hexaa-profile-attribute-editor.directive.js"></script>
<script src="scripts/components/admin/directives/hexaa-admin-attributespecification-editor.directive.js"></script>
<script src="scripts/components/admin/directives/hexaa-admin-principal-editor.directive.js"></script>
<script src="scripts/components/admin/controllers/pages/index.controller.js"></script>
<script src="scripts/components/admin/controllers/pages/attributespecifications.controller.js"></script>
<script src="scripts/components/admin/controllers/modals/new-attrspec-dialog.controller.js"></script>
<script src="scripts/components/admin/controllers/modals/new-principal-dialog.controller.js"></script>
<script src="scripts/components/admin/controllers/pages/principals.controller.js"></script>
<script src="scripts/components/admin/controllers/pages/entityids.controller.js"></script>
<script src="scripts/components/admin/controllers/pages/securitydomains.controller.js"></script>
<script src="scripts/components/admin/controllers/modals/new-security-domain-dialog.controller.js"></script>
<script src="scripts/services/hexaa.service.js"></script>
<script src="scripts/services/facades/roles.facade.js"></script>
<script src="scripts/services/facades/consents.facade.js"></script>
<script src="scripts/services/facades/invitations.facade.js"></script>
<script src="scripts/services/facades/attribute-specifications.facade.js"></script>
<script src="scripts/services/facades/principal.facade.js"></script>
<script src="scripts/services/facades/services.facade.js"></script>
<script src="scripts/services/facades/organizations.facade.js"></script>
<script src="scripts/services/facades/entitlementpacks.facade.js"></script>
<script src="scripts/services/facades/security-domains.facade.js"></script>
<script src="scripts/models/resource.model.js"></script>
<script src="scripts/models/organization.model.js"></script>
<script src="scripts/models/service-model.js"></script>
<script src="scripts/models/role.model.js"></script>
<script src="scripts/models/principal.model.js"></script>
<script src="scripts/models/invitation.model.js"></script>
<script src="scripts/models/entitlementpack.model.js"></script>
<script src="scripts/models/attribute-specification.model.js"></script>
<script src="scripts/models/mail.model.js"></script>
<script src="scripts/models/security-domain.model.js"></script>
<script src="scripts/services/request-notification-channel.service.js"></script>
<script src="scripts/services/dialog.service.js"></script>
<script src="scripts/services/theme.service.js"></script>
<script src="scripts/services/profile.service.js"></script>
<script src="scripts/services/settings.service.js"></script>
<script src="scripts/services/startup.service.js"></script>
<script src="scripts/services/page-title.service.js"></script>
<script src="scripts/shared/directives/ngmodelonblur.directive.js"></script>
<script src="scripts/shared/directives/validate.directive.js"></script>
<script src="scripts/shared/directives/draggable.directive.js"></script>
<script src="scripts/shared/directives/resizable.directive.js"></script>
<script src="scripts/shared/directives/loading.directive.js"></script>
<script src="scripts/shared/directives/notify-uri-error.directive.js"></script>
<script src="scripts/shared/directives/angular-duallistbox.js"></script>
<script src="scripts/shared/directives/hexaa-shared-news.directive.js"></script>
<script src="scripts/shared/directives/bootstrap-switch.directive.js"></script>
<script src="scripts/shared/directives/hook-list.directive.js"></script>
<script src="scripts/shared/controllers/modals/hook-editor-dialog.controller.js"></script>
<script src="scripts/filters/pager.js"></script>
<script src="scripts/filters/image-formatter.js"></script>
<script src="scripts/filters/placeholder.js"></script>
<script src="scripts/utils/extensions.js"></script>
<script src="scripts/utils/jslinq.js"></script>
<script src="scripts/utils/wrappers.js"></script>
<!-- endbuild -->
</body>
</html>

