<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button class="btn pull-right" ng-click="vm.close()" title="{{'services.modals.newEntitlementpackDialog.btn.dialogClose' | translate}}">
        <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title" translate>services.modals.newEntitlementpackDialog.lbl.title</h3>
</div>
<div class="modal-body">
    <div hexaa-services-entitlementpack-editor
         entitlementpack="vm.entitlementpack"
         service="vm.service"
         save-entitlementpack="vm.saveEntitlementpack(entitlementpack)"></div>

</div>

