<div class="modal-header" >
    <h3 class="modal-title" translate="modals.serviceDetails.lbl.serviceDetails"></h3>
    <button class="btn" ng-click="close()" title="{{'modals.serviceDetails.btn.close' | translate}}">
        <i class="fa fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid row"  style="text-align: center;">
        <div class="col-md-6">
            <h3>{{service.name}}</h3>
        </div>
        <div class="col-md-6">
            <img class="servicelogo" ng-src="{{service.logo_path | imageFormatter}}"/>
        </div>
    </div>
    <dl>
        <dt ng-if="service.description"><b translate="modals.serviceDetails.lbl.serviceDescription"></b></dt>
        <dd ng-if="service.description" style="margin-left:20px;">{{service.description}}</dd>

        <dt ng-if="service.org_name"><b translate="modals.serviceDetails.lbl.serviceOwnerName"></b></dt>
        <dd ng-if="service.org_name" style="margin-left:20px;">
            <a href="{{service.org_url}}">{{service.org_name}}</a>
        </dd>

        <dt ng-if="service.priv_description"><b translate="modals.serviceDetails.lbl.servicePrivacyDesc"></b></dt>
        <dd ng-if="service.priv_description" style="margin-left:20px;">{{service.priv_description}}</dd>
    </dl>
    <a ng-if="service.priv_url" href="{{service.priv_url}}" target="_blank" translate>modals.serviceDetails.lbl.servicePrivacyUrl</a>
</div>
