<div class="modal-header clearfix">
    <button class="btn pull-right" ng-click="vm.close()"
            title="{{'organizations.new.btn.close' | translate}}">
        <i class="fa fa-times"></i>
    </button>
    <h2  class="modal-title" translate>organizations.new.lbl.organizationNew</h2>
</div>
<div class="modal-body">
    <div hexaa-organizations-properties-widget
         organization="vm.organization"
         form-valid="vm.valid"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.save()" translate ng-disabled="!vm.valid">Save</button>
</div>