<div class="modal-header clearfix">
        <button class="btn pull-right" ng-click="vm.close()" title="{{'modals.organizationChangerDialog.btn.close' | translate}}">
            <i class="fa fa-times"></i>
        </button>
        <h3 class="modal-title" translate="modals.organizationChangerDialog.lbl.title"></h3>
</div>
<div class="modal-body">
    <div class="form-group input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        <input type="text" class="form-control" name="organizationFilter" ng-model="vm.organizationFilter" placeholder="Filter"/>
    </div>
    <table class="table table-responsive">
        <tr>
            <th translate>modals.organizationChangerDialog.lbl.organizationName</th>
            <th translate>modals.organizationChangerDialog.lbl.organizationDescription</th>
        </tr>
        <tr ng-repeat="organization in vm.organizations | filter: vm.organizationFilter | pager: vm.pager">
            <td><strong><a href="" ng-click="vm.select(organization)">{{organization.name}}</a></strong></td>
            <td>{{organization.description}}</td>
        </tr>
    </table>
    <pagination total-items="vm.pager.totalItems" page="vm.pager.currentPage" max-size="vm.pager.maxSize"
    class="pagination-sm" boundary-links="true" rotate="false" num-pages="vm.pager.numPages" items-per-page="vm.pager.itemPerPage"></pagination>
</div>