<div ng-repeat="role in organization.roles | filter: filterBy | pager: pageBy">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-default" title="{{'organizations.roles.btn.roleEdit'|translate}}"
                            ng-if="profile.isManagerOfOrganization(organization.id)" ng-click="edit(role)"
                            data-toggle="modal"
                            href="#role_manage_modal_fixme"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger"
                            ng-if="profile.isManagerOfOrganization(organization.id)"
                            ng-click="delete(role)"
                            title="{{'organizations.roles.btn.roleRemove'|translate}}"><i class="fa fa-trash"> </i>
                    </button>
                </div>
            </div>
            <h4>{{role.name}}<h4>

        </div>
        <div class="panel-body">
            <div hexaa-organizations-role-widget
                 profile="profile"
                 organization="organization"
                 role="role"></div>
        </div>
    </div>
</div>