<table class="container table table-condensed" style="table-layout:fixed; width: 100%;">
    <thead>
        <th translate="organizations.principalmanagement.lbl.principalUsername" ></th>
        <th translate="organizations.principalmanagement.lbl.principalEmail" ></th>
        <th translate="organizations.principalmanagement.lbl.principalActions" class="text-right"  ng-if="profile.isManagerOfOrganization(organization.id)"></th>
    </thead>
    <tbody>
    <tr ng-repeat="principal in organization.principals | filter :filterText">
        <td class="truncate">
            <span class="label label-primary" ng-show="principal.is_manager" translate>
                organizations.principalmanagement.lbl.principalIsManager
            </span>
            {{ principal.display_name | placeholder:principal.fedid}}
        </td>
        <td class="truncate">
            {{principal.email}}
        </td>
        <td class="text-right">
            <div class="btn-group" ng-if="profile.isManagerOfOrganization(organization.id)">
                <button class="btn btn-warning" ng-click="revoke(principal)" ng-show="principal.is_manager" translate="organizations.principalmanagement.btn.principalActionRevoke"></button>
                <button class="btn btn-primary" ng-click="propose(principal)" ng-show="(!principal.is_manager)" translate="organizations.principalmanagement.btn.principalActionPropose"></button>
                <button class="btn btn-danger" ng-click="remove(principal)" translate="organizations.principalmanagement.btn.principalActionRemove"></button>
            </div>
        </td>
    </tr>
    </tbody>
</table>