<div class="form-group">
    <form name="newOrganizationForm" model="newOrganizationForm">
        <label for="name" translate>organizations.new.lbl.organizationName</label>
        <input type="text" class="form-control" ng-model="organization.name" id="name"
               placeholder="{{'organizations.new.placeholder.organizationName' | translate}}" required notifyuierror/>

        <label for="description" translate>organizations.new.lbl.organizationDescription</label>
        <input type="text" class="form-control" ng-model="organization.description" id="description" placeholder="{{'organizations.new.placeholder.organizationDescription' | translate}}" notifyuierror/>


        <label for="role" translate>organizations.new.lbl.organizationDefaultRole</label>
        <input type="text" class="form-control" ng-model="organization.role.name" id="role"
               placeholder="{{'organizations.new.placeholder.organizationDefaultRole' | translate}}" required notifyuierror/>

        <div class="form-group">
            <div class="checkbox">
                <label for="isolate_members">
                    <input type="checkbox" ng-model="organization.isolate_members" id="isolate_members"/>
                    <b translate>organizations.new.lbl.organizationIsolateMembers</b>
                </label>
            </div>

            <div class="checkbox">
                <label for="isolate_role_members">
                    <input  type="checkbox"  ng-model="organization.isolate_role_members" id="isolate_role_members"/>
                    <b translate>organizations.new.lbl.organizationIsolateRoleMembers</b>
                </label>
            </div>
        </div>
    </form>
</div>