<!-- <h4 translate>services.entitlementpacks.lbl.entitlementpackBasic</h4> -->
<div>
    <table class="table">
        <tbody>
            <tr>
                <th translate>services.entitlementpacks.lbl.entitlementpackName</th>
                <td>{{entitlementpack.name}}</td>
            </tr>
            <tr>
                <th translate>services.entitlementpacks.lbl.entitlementpackDescription</th>
                <td>{{entitlementpack.description}}</td>
            </tr>
            <tr>
                <th translate>services.entitlementpacks.lbl.entitlementpackType</th>
                <td>{{entitlementpack.type}}</td>
            </tr>
        </tbody>
    </table>

    <h4 translate>services.entitlementpacks.lbl.entitlementsTitle</h4>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th translate>services.entitlementpacks.lbl.entitlementsName</th>
                <th translate>services.entitlementpacks.lbl.entitlementsDescription</th>
                <th translate>services.entitlementpacks.lbl.entitlementsUri</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entitlement in entitlementpack.entitlements">
                <td><strong>{{entitlement.name}}</strong></td>
                <td>{{entitlement.description}}</td>
                <td>{{entitlement.uri}}</td>
            </tr>
        </tbody>
    </table>
    <h4 translate>services.entitlementpacks.lbl.entitlementpackToken</h4>
    <div class="input-group">
        <input type="text" class="form-control"
               ng-model="entitlementpack.token"
               placeholder="{{'services.entitlementpacks.placeholder.entitlementpackToken' | translate}}"
               autofocus="autofocus" readonly/>
                            <span class="input-group-btn">
                                <button class="btn btn-primary pull-right" ng-click="generateToken(entitlementpack)">
                                    <i class="fa fa-refresh"> {{'services.entitlementpacks.btn.entitlementpackGenerateToken' | translate}}</i>
                                </button>
                            </span>
    </div>
</div>