<div class="modal-header clearfix" xmlns="http://www.w3.org/1999/html">
    <span class="pull-right">
        <button class="btn" ng-click="vm.close()" title="{{'admin.modals.newPrincipalDialog.btn.dialogClose' | translate}}">
            <i class="fa fa-times"></i>
        </button>
    </span>
    <h3 class="modal-title" translate>admin.modals.newPrincipalDialog.lbl.title</h3>
</div>
<div class="modal-body">
    <div hexaa-admin-principal-editor-widget
         principal="vm.principal"
         save-principal="vm.save()"></div>
</div>
