<div class="row" ng-controller="OrganizationMembersCtrl">
    <div class="col-xs-5 col-md-12" >
        <div id="membersbox" angular-duallistbox elements="principals" element-display="'fedid'" selected="organization.members" element-value="'id'"
             non-selected-list-label="'organizations.members.lbl.allPrincipals' | translate"
             selected-list-label="'organizations.members.lbl.associatedPrincipals' | translate"
             filter-place-holder="'organizations.members.placeholder.principalList' | translate"></div>
</div>
